# NeonDB database url connection string . For more info: https://neon.tech/docs/introduction

DATABASE_URL=

# Clerk Public and secret keys. For more info: https://clerk.com/docs

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=